<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Olnick Whatever</a>
    </div>

    <div class="collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="menuItem in menu">
        <a href="{{menuItem.link.path | drupalUrlTranslate}}" ng-class="{ active: isActive('{{menuItem.link.path | drupalUrlTranslate}}') }" >{{menuItem.link.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="content-wrapper">
  <template-data></template-data>
</div>
