<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Olnick Whatever</a>
    </div>

    <div class="collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="menuItem in menu">
          <a href="{{menuItem.link.path | drupalUrlTranslate}}">{{menuItem.link.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="content-wrapper">
  <div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>
</div>
